.searchbox button{
    border: 1px solid rgb(0, 0, 60);
    display: inline-block
}
.searchbox button:hover {
    background-color: darkblue;
    color:white;
}
.form-inline {
    display: inline-block;
    float: right;
}
